<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testcases.HomePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_002_homePageTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_003_profileSectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_004_securitytabTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_005_logoutTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_001_loginCredentialTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addScreenshotToExtentReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
</table>
