<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>IKANO</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>19/02/04 16:34:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.TC_001_loginCredentialTest()[pri:1, instance:testcases.HomePageTest@3891771e]">TC_001_loginCredentialTest</td> 
  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:35:13</td>   <td>26986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.TC_002_homePageTest()[pri:2, instance:testcases.HomePageTest@3891771e]">TC_002_homePageTest</td> 
  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:35:34</td>   <td>48075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.TC_003_profileSectionTest()[pri:3, instance:testcases.HomePageTest@3891771e]">TC_003_profileSectionTest</td> 
  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:35:53</td>   <td>67088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.TC_004_securitytabTest()[pri:4, instance:testcases.HomePageTest@3891771e]">TC_004_securitytabTest</td> 
  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:36:07</td>   <td>80246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.TC_005_logoutTest()[pri:5, instance:testcases.HomePageTest@3891771e]">TC_005_logoutTest</td> 
  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:35:13</td>   <td>26596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.HomePageTest@3891771e]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:35:34</td>   <td>47982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.HomePageTest@3891771e]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:35:53</td>   <td>66525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.HomePageTest@3891771e]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:36:06</td>   <td>80119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.HomePageTest@3891771e]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:36:10</td>   <td>83731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.HomePageTest@3891771e]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:36:10</td>   <td>83885</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.quitBrowser()[pri:0, instance:testcases.HomePageTest@3891771e]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@146305349</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/02/04 16:34:36</td>   <td>-10345</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.start(java.lang.String)[pri:0, instance:testcases.HomePageTest@3891771e]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@146305349</td>   <td></td> </tr>
</table>
