<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testcases.LoginPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLogoTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logoutTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>credentialTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logintest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifychkboxTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addScreenshotToExtentReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stop</td>
<td>&nbsp;</td></tr>
</table>
