<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>18/11/20 19:07:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.LoginPageTest@2de8284b]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:08:05</td>   <td>10857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.LoginPageTest@2de8284b]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:08:23</td>   <td>29703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.LoginPageTest@2de8284b]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:08:47</td>   <td>53307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.LoginPageTest@2de8284b]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:09:07</td>   <td>73384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.LoginPageTest@2de8284b]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:09:13</td>   <td>79036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.addScreenshotToExtentReport(org.testng.ITestResult)[pri:0, instance:testcases.LoginPageTest@2de8284b]">&lt;&lt;addScreenshotToExtentReport</td> 
<td>&nbsp;</td>  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:08:05</td>   <td>10942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.credentialTest(java.lang.String, java.lang.String)[pri:3, instance:testcases.LoginPageTest@2de8284b]">credentialTest</td> 
  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:08:23</td>   <td>29803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.credentialTest(java.lang.String, java.lang.String)[pri:3, instance:testcases.LoginPageTest@2de8284b]">credentialTest</td> 
  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:08:47</td>   <td>53383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest()[pri:4, instance:testcases.LoginPageTest@2de8284b]">logintest</td> 
  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:09:08</td>   <td>73854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logoutTest()[pri:5, instance:testcases.LoginPageTest@2de8284b]">logoutTest</td> 
  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:07:35</td>   <td>-18540</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.start(java.lang.String)[pri:0, instance:testcases.LoginPageTest@2de8284b]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:09:13</td>   <td>79156</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.stop()[pri:0, instance:testcases.LoginPageTest@2de8284b]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:07:53</td>   <td>-350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyLogoTest()[pri:1, instance:testcases.LoginPageTest@2de8284b]">verifyLogoTest</td> 
  <td>main@194706439</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/11/20 19:07:54</td>   <td>548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifychkboxTest()[pri:2, instance:testcases.LoginPageTest@2de8284b]">verifychkboxTest</td> 
  <td>main@194706439</td>   <td></td> </tr>
</table>
